.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.form input {
    display: block;
    width: 45%;
    outline: none;
    border-radius: 3px;
    padding: 5px;
}
