.cart-item {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F5803B;
}

.summary {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.price {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.price p {
    font-size: 1.3rem;
}

.price span {
    display: block;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #F5803B;
}

.actions {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.actions button {
    border: 1px solid #F5803B;
    border-radius: 3px;
    color: #F5803B;
    font-size: 1.5rem;
    padding: 5px 20px;
    background: transparent;
    cursor: pointer;
}

.actions button:hover {
    background-color: #F5803B;
    color: #fff;
}