.header {
    width: 100%;
    background-color: #F5803B;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav {
    max-width: 1000px;
    height: 100%;
    padding: 10px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    color: #F8F0EA;
}

